body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
  }
  
  .color-palette {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: fixed;
    top: 0;
    align-self: flex-start;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }